
@font-face {
    font-family: 'Sigokae';
    src: url('../fonts/Sigokae Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.navbar-brand,.frase-pie 
 {
    font-family: 'Sigokae', Arial, sans-serif; 
}

.ReservarMesa, 
.navbar-brand 
{
    color: #dc3545;
}
.fondo-beige {
    background-color: #f9f2dd;
  }
  

.ReservarMesa {
text-align: center;
color: #dc3545;
font-size: 55px;
}

.opciones {
font-style: italic;
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
max-width: 800px;
margin: auto;
font-size: 25px;
}


.frase-pie {
    font-family: 'Sigokae', cursive;
    font-size: 1rem;
    background-color: #d62728;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
}


footer {
    padding: 20px 0;
    background-color: #f8f9fa;
    text-align: center;
}