@font-face {
    font-family: 'Sigokae';
    src: url('fonts/Sigokae Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f8f3e4;
    font-family: 'Arial', sans-serif;
}

.navbar-brand,
.titulo-principal,
.lema,
.frase-pie {
    font-family: 'Sigokae', Arial, sans-serif; 
}

.titulo-principal, 
.navbar-brand 
{
    color: #dc3545;
}

.logo-contenedor {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.logo {
    width: 130px;
    height: auto;
    justify-content: left;
    object-fit: cover; 
    border-radius: 50%; 
    border: 3px solid #d62728;
    margin: 0;
}

.titulo-principal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    font-family: 'Sigokae', cursive;
    font-size: 3rem;
    color: #d62728;
    margin: 0;
}

.lema {
    font-family: 'Sigokae', cursive;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/* Titulos de secciones */
.titulos-carta {
    font-family: 'Sigokae', cursive;
    font-size: 1.8rem;
    color: #d62728;
    margin: 30px 20px 10px;
}

h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: #d62728;
    text-align: center;
    margin-top: 10px;
}

.text-muted{
    text-align: center;
    font-weight: bold;
}

hr {
    border: none;
    height: 3px;
    background-color: #d62728;
    margin: 5px 20px;
}
#carruselEntrantes {
    max-width: 1000px; 
    margin: 30px auto; 
}

#carruselPrimeros {
    max-width: 1000px; 
    margin: 30px auto; 
}

#carruselPostres {
    max-width: 1000px; 
    margin: 30px auto; 
}
.carousel-inner img {
    border-radius: 20px;
    height: 300px; 
    object-fit: cover;
}
.carousel-inner .row {
    margin: 0;
}

.carousel-inner .col-4 {
    padding: 5px;
}


.carousel {
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    position: relative;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-inner img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #f8f9fa;
    text-align: center;
}

.frase-pie {
    font-family: 'Sigokae', cursive;
    font-size: 1rem;
    background-color: #d62728;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
}
